/target
*.db
*.db-shm
*.db-wal
.DS_Store
postgres/
backup*.json
dist/
/.android-build/
/android/.gradle/
/android/.kotlin/
/android/local.properties
/android/app/build/
/android/build/
/android/app/src/main/jniLibs/
